In [1]:
import numpy as np
import pandas as pd

# The Pandas Series Object

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

## Series as generalized NumPy array

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = ["a", "b", "c", "d"])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data["b"]

0.5

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = [2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [11]:
data[5]

0.5

## Series as sepcialized dictionary

In [12]:
population_dict = {"California": 38332521,
                   "Texas": 26448193,
                   "New York": 19651127,
                   "Florida": 19552860,
                   "Illinois": 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [13]:
population["California"]

38332521

In [22]:
population["California":"Illinois"]

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## Constructing Series objects

In [24]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [25]:
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [26]:
pd.Series({2: "a", 1: "b", 3: "c"})

2    a
1    b
3    c
dtype: object

In [28]:
pd.Series({2: "a", 1: "b", 3: "c"}, index = [3, 2])

3    c
2    a
dtype: object

# The Pandas DataFrame Object

## DataFrame as a generalized NumPy array

In [29]:
area_dict = {"California": 423967, "Texas": 695662, "New York": 141297,
             "Florida": 170312, "Illinois": 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [30]:
states = pd.DataFrame({"population": population,
                       "area": area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [31]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [32]:
states.columns

Index(['population', 'area'], dtype='object')

## DataFrame as specialized dictionary

In [33]:
states["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

## Constructing DataFrame objects

In [ ]:
### From a si